<!DOCTYPE html>
<html>
<head>
  <title>MediaelementRails</title>
  <%= stylesheet_link_tag    "mediaelement_rails/application" %>
  <%= javascript_include_tag "mediaelement_rails/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
